/**
 * Site Branding Component Styles
 *
 * Design Tokens:
 * - --space-2xs
 * - --space-l-xl
 */

.brand {
  flex: 0 0 auto; /* for the media query less menu management */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  .home-link {
    display: flex;
    align-items: center;
    justify-content: center;

    /* could be a svg or an img */

    img {
      width: clamp(150px, -21.43px + 53.57vw, 300px);
      height: auto;
      transform: scale(1);
      transition: transform 250ms ease;
    }
  }

  &:hover svg {
    transform: scale(1.05);
  }
}
